name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  windows:
    name: Windows (Release)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build (Release)
        run: cmake --build build --config Release -j

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: AlienInvaders-windows
          path: |
            build/**/*.exe
            dist/**
          if-no-files-found: error

#  web:
#    name: Web (Emscripten Release)
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      - name: Setup Emscripten
#        uses: mymindstorm/setup-emsdk@v14
#        with:
#          version: 4.0.22
#
#      - name: Configure (emcmake)
#        run: emcmake cmake -S . -B build-web -DCMAKE_BUILD_TYPE=Release
#
#      - name: Build
#        run: cmake --build build-web -j
#
#      - name: Upload artifact
#        uses: actions/upload-artifact@v4
#        with:
#          name: AlienInvaders-web
#          path: |
#            build-web/*.html
#            build-web/*.js
#            build-web/*.wasm
#            build-web/*.data
#          if-no-files-found: error
